/**{
    width: 100%;
}*/
/*正文*/
.middle{
    width: 1100px;
    /*height: 570px;*/
    margin: 0 auto;
    background-color: #FEFEFE;
    border-bottom: 1px solid #D4D4D4; 
    display: none;
}

.title,.time{
    text-align: center;
    line-height: 38px;
    float: left;
    margin-top: 25px;
    width: 750px;
    height: 38px;
    background-color: #e5f4fa;
    font-family:Microsoft Yahei;
    font-weight: bold;
    font-size:16px;
    color: #3090b8;
    margin-bottom: 25px;
}
.title{
    margin-left: 50px;
}
.time{
    margin-right: 50px;
}
.items ol{
    counter-reset: li; 
    list-style: none;
}

.items ol a:before{
    content:"[ "counter(li)" ]";
    counter-increment: li;
    margin-top: 2px;
    margin-left: -315px;
    text-decoration: none;
}
.items ol a:after{
    text-decoration: none;
}

.item-line{
    width:150px; 
}

.items{
	clear: both;
    width: 970px;
    height: 450px;
    margin-left: 80px;
    font-size: 14px;
    list-style-position: inside;
}

.items a{
    color: black;
    display: block;
    width: 670px;
    line-height: 28px;
    text-decoration: none;
    font-family: Microsoft Yahei;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.items a:hover{
    color: #3090b8;
    display: block;
    text-decoration: underline;
}
.span-right{
    width: 280px;
    display: block;
    float: left;
    margin-left: 40px;
}
.span-left{
    float:right;
    display: block;
    width: 195px;
    color: #3090b8;
}
/*long*/
#pages{
	/*float: right;*/
	width: 455px;
	margin: 10px auto;
	font-size: 15px;
	color: #666666;
	text-align: center;
	/*long*/
	height: 50px;
}
#pages input{
	width:50px;
	height:30px;
	text-align: center;
	
}
#up{
	margin-right: 10px;
}
#next{
	margin-left: 10px;
}
#pages ul li,#pages ul span{
	display: block;
	width:28px;
	height:28px;
	/*border: 1px solid #CECECE;*/
	line-height: 28px;
	margin:0 10px;
}
#pages ul li:hover{
	text-decoration: underline;
	cursor: pointer;
}
.activePage{
	border: 1px solid #CECECE;
}
.noPage{
	text-decoration: none;
}
#pages input,#pages ul li,#pages ul span{
	float:left;
}
#pages input{
	background: #FFFFFF;
	border:1px solid #CECECE;
}

/*新页面左*/
.detail{
    width: 1100px;
    /*height: 570px;*/
    margin: 0 auto;
    background-color: #FEFEFE;
    border-bottom: 1px solid #D4D4D4; 
    display: block;
    padding-top: 14px;
    padding-bottom: 18px;
    position: relative;
}
.detail-left{
    margin-left: 18px;
    width: 750px;
    border: 1px solid #a4ddf5;
    padding: 0 30px 8px 48px;

}
#detail-time{
    font-family: Microsoft Yahei;
    font-size: 14px;
    color: #fcc43d;
    font-weight: normal;
    float: right;
    width: 100%;
    text-align: right;
    margin-top:10px;
    margin-right: 45px; 
    letter-spacing: 0;
}
.detail-left>p{
    margin-top: 25px;
    margin-left: -48px;
    text-align: center;
    font-family: Microsoft Yahei;
    font-size: 18px;
    font-weight: bold;
    color: #3090b8;
    letter-spacing: 1.8px;
}
.detail-left>hr{
    background-color: #3090b8;
    height: 2px;
    margin-top: 13px;
    margin-left: -13px;
    width: 780px;
    border: 0;
}
.detail-left>span{
    font-size: 14px;
    font-family: Microsoft Yahei;
    color: #333333;
    line-height: 32px;
}
/*新页面右*/
.detail-right{
    text-align: center;
    width: 210px;
    position: absolute;
    top: 2px;
    left: 868px;
}
.detail-right>div{
    font-family: Microsoft Yahei;
    font-size: 14px;
    width: 210px;
    margin-top: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.detail-right>div>a{
    text-align: center;
    width: 210px;
    color: #333333;
}
.detail-right>div>a:hover{
    color: #fcc43d;
}
